---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Approach from "../components/Approach.astro";
import Slider from "../components/Slider.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Creative Agency Landing Page" description="Intermediate Frontend mentor challenge">
  <h1 class="sr-only">Creative Agency Landing Page</h1>
  <Navbar />
  <Hero />
  <About />
  <Approach />
  <Slider />
  <Footer />
</Layout>
