<section class="desktop:h-[750px] tablet:grid-cols-1 tablet:h-auto relative grid h-[985px] grid-cols-[minmax(450px,1fr)_minmax(450px,1fr)]">
  <div class="bg-strategic tablet:hidden bg-cover bg-no-repeat"></div>
  <img src="/assets/mobile/image-strategic.webp" loading="lazy" alt="background strategic" width="890" height="474" class="tablet:block tablet:w-full hidden" />
  <div class="desktop:pt-[150px] desktop:pl-[80px] tablet:px-[30px] tablet:py-[50px] relative bg-dark-blue pl-[170px] pt-[201px]">
    <article class="desktop:max-w-none w-full max-w-[450px]" id="view-fade-up">
      <h3 class="desktop:leading-none text-xl font-bold leading-[63px] text-white">
        <span class="text-red">Design</span> is<br />
        strategic.
      </h3>
      <p class="text-md mt-[49px] leading-[32px] tracking-[0.2px] text-white">“A well-crafted design strategy consistently produces desired outcomes and brand awareness. We are firm believers that success lies in creative collaboration with our clients.”</p>
      <a href="/" class="hover:text-pale-red hover:border-pale-red text-red text-md border-red mt-[40px] inline-block border-b-[2px] font-bold leading-[38px] tracking-[0.2px] duration-300">Schedule a Call</a>
    </article>
    <img src="/assets/bg-pattern-red.svg" alt="" aria-hidden="true" width="135" height="61" class="desktop:w-[70px] desktop:top-[170px] desktop:left-[-40px] tablet:top-[-10px] tablet:left-[50px] mobile:w-[50px] absolute left-[-50px] top-[235px]" id="pattern" />
  </div>
</section>