<footer class="relative mb-[100px] mt-[121px]" >
  <div class="tablet:flex-col tablet:items-start tablet:gap-[50px] container flex items-center justify-between">
    <h3 class="mobile:leading-none mobile:text-pretty w-full max-w-[650px] text-xl font-bold leading-[63px] tracking-[0.3px]">Let's build something great together.</h3>
    <button class="hover:bg-pale-red bg-red px-[45px] py-[21px] font-bold text-white duration-300">Schedule a Call</button>
  </div>
  <img src="/assets/bg-pattern-red.svg" loading="lazy" alt=""  width="135" height="61" aria-hidden="true" class="desktop:hidden absolute left-[-70px] top-[50%] translate-y-[-50%]" />
</footer>