<main class="bg-hero desktop:bg-hero-tablet desktop:py-[80px] tablet:bg-none tablet:pt-0 relative bg-contain bg-right bg-no-repeat pb-[159px] pt-[112px]">
  <img src="/assets/mobile/image-hero.webp" alt="background hero" width="890" height="474" class="tablet:block tablet:w-full tablet:mb-[40px] hidden" />
  <section class="container">
    <article class="desktop:max-w-[450px] tablet:max-w-none w-full max-w-[580px] bg-red-100" id="fade-up">
      <h2 class="desktop:leading-none text-2xl font-bold leading-[88px] tracking-[0.4px]">Branding & website design agency</h2>
      <p class="text-md mobile:mt-[30px] mt-[48px] leading-[32px] tracking-[0.1px]">We specialize in visual storytelling by creating cohesive brand and website design solutions for small businesses, giving lasting impressions to audiences in a digital world.</p>
      <a href="/" class="hover:bg-pale-red text-md bg-red mobile:mt-[30px] mt-[48px] inline-block px-[41px] py-[23px] font-bold text-white duration-300">Learn More</a>
    </article>
  </section>
</main>
